body {
	font: 1rem 'Fira Sans', sans-serif;
	padding: .3rem;
	background: black;
	color: white;
	text-align: center;
}

main {
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
}

article {
	margin: .1rem;
	padding: .1rem;
}

p {
	text-align: start;
	width: 30em;
	border: rgb(255, 255, 255);
}

/* unvisited link */
a:link {
	color: rgb(57, 63, 51);
}

/* visited link */
a:visited {
	color: rgb(1, 58, 5);
}

/* mouse over link */
a:hover {
	color: rgb(240, 249, 157);
}

/* selected link */
a:active {
	color: rgb(185, 185, 236);
}