body {

	background:black;
	color: white;
	text-align: center;
}

article {
	column-count: auto;
	column-width: 30rem;
}

p {
	text-align:start;
}

/* unvisited link */
a:link {
  color: rgb(223, 255, 238);
}

/* visited link */
a:visited {
  color: rgb(0, 117, 128);
}

/* mouse over link */
a:hover {
  color: rgb(240, 249, 157);
}

/* selected link */
a:active {
  color: rgb(185, 185, 236);
}